<phpunit bootstrap="vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="false"
>

	<testsuites>
		<testsuite name="Smooth Tests">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
